

#A{
  background-color: rgb(38, 33, 74);text-align: center;border-radius: 10px;color: aliceblue;}
#B{background-color: rgb(64, 44, 23);text-align: center;border: 1px solid;color: aliceblue;}
#C{background-color: rgb(63, 39, 70);text-align: center;border-radius: 10px; font-family:'Times New Roman', Times, serif;color: aliceblue;}
.row{margin-top: 12em;
height: 150px;
border-radius: 10px;
}

button{width: 100px;height: 50px;border-radius: 14px;background-color: rgb(19, 19, 20);color: white;margin-top: 15px;}

#modal::backdrop{
  background-color: rgba(53, 0, 244, 0.55);
  
}
#modal{
  background-color: aquamarine;
}
#btn-abrir{
  align-items: center;
}
.dialog{
  background-color: aquamarine;
}



a:hover {
  color: rgb(255, 85, 113);
}
a{
  color: aliceblue;
}
#btn-cerrar{
  height: 40px;
}

img{
  padding: 60px;
  font-size: 60px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

body{
  background-image: url(https://cdn.pixabay.com/photo/2017/09/12/11/56/universe-2742113_1280.jpg);
  opacity: 0.7;
}
body::backdrop{
  
}




/**
h1{
    text-align: center;
    color: rgb(160, 203, 241);
}
h6{
  margin-top: 40px;
  text-align: center;
}
#A{
background-color: aquamarine;
height: 220px;
width: 300px;
}
#B{
    background-color: rgb(142, 72, 255);

}
#C{
    background-color: rgb(211, 60, 10);

}
body{
   background-color: black;
}
.fa {
    padding: 20px;
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #ee55d2;
    color: rgb(12, 11, 13);
  }
  .fa-linkedin {
    background: #c3f209;
    color: rgb(14, 12, 12);
  }
  button{
    display: block;

    background-color: #ee55d2;
    border-radius: 12px;
    padding: 10px;
  }
  #moda::backdrop{
    background-color: rgba(7, 6, 6, 0.55);

  }
  #btn-abrir{
    align-items: center;
  } **/